<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='eva.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Prototype - Ewoutdc</title>
</head>

<body>
    <div class="title"><img src="{{ url_for('static', filename='eva.png') }}" alt="Elektro van Assche Logo" id="vanAssche">
        <h1>Scanner</h1>
    </div>
    <div id="content">
        <!--<form method="post" style="width: 100%; align-items: center; justify-content: center; display: flex;">-->
        <input type="text" id="ean" name="barcode" placeholder="Barcode">
        <p id="onbekend">Onbekende barcode!</p>
        <input id="knop" type="button" value="Zoek artikel"></input>
    <!--</form>-->
    </div>
    <div class="artikel" id="artikel">
        <div class="container">
            <h1 id="naam">naam</h1>
            <img src="img" alt="foto" id="foto">
            <input id="prijs" type="button" value="" style="font-size: 1.5rem; margin-top:5px"></input>
            <div id="laatste">Laatste stuk!</div>
            


        </div>
    </div>

    </div>
    <footer style="bottom: 3px; position:absolute;"><a style="text-decoration: none;color: rgba(128, 128, 128, 0.418);"
            href="https://github.com/EwoutDeCoster">&copy; Ewoutdc, <B>PROOF OF CONCEPT</B></a></footer>

</body>

</html>